doctype
html
	header
		h1 Super Secret Admin Panel

		| table to alter:   
		select
			option(value='artists') artists
			option(value='events') events
			option(value='tickets') tickets
			option(value='users') users