doctype
html
	header
		h1 Super Secret Admin Panel
		
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
		script(type='text/javascript').
			$(document).ready(function() {
				$('#mo').hide();
			});

			function dmChange() {
				var $m = $('#mo');
				if ($('#s2').val() == 'upd') { $m.show(); } 
				else { $m.hide(); }
			}

			function getvals() {
				$('#t1').val($('#s1').val());
				$('#t2').val($('#s2').val());
			}

			/*function viewUsers() {
				$.post('/adminForm', {table: 'users'});
			}
			function viewTickets() {
				$.post('/adminForm', {table: 'purchased_tickets'});
			}*/


	div(id='d1')
		| table to alter:
		select(id='s1')
			option(value='artists') artists
			option(value='events') events
			option(value='tickets') tickets
			option(value='users') users

		select(id='s2' onchange="dmChange()")
			option(value='del') delete
			option(value='upd') update

		p
		form(method='post', action = '/adminForm')
			input(type='text', placeholder='where', name='keyCol')
			| = 
			input(type='text', placeholder='value', name='keyVal')
			input(type='hidden', name='table', id='t1')
			input(type='hidden', name='action', id='t2')
			div(id='mo')
				p
				input(type='text', placeholder='set column', name='changeCol')
				| to  
				input(type='text', placeholder='new value', name='newVal')
			input(type='submit', name='submit', onclick='getvals()')

	br
	br
	br
	p
	form(method='post', action = '/adminForm')
		input(type='hidden', name='table', value='users')
		input(type='submit', name='submit', value='Display Users')
	//div
		//button#btnU(type='button',onClick="viewUsers()") View all Users
	p
	form(method='post', action = '/adminForm')
		input(type='hidden', name='table', value='purchased_tickets')
		input(type='submit', name='submit', value='Display Tickets')
	//div
		//button#btnT(type='button',onClick="viewTickets()") View all Tickets