doctype
html
	head
		title #{title}
	body
		header
			h1 Welcome to #{title}
			button#btnLogin(type='button',onClick="window.location.href='/login'") login
			
	block content
			select
				option(value='artist') artist
				option(value='venue') venue
				option(value='date') date

	div hideThis
		block content
		p
		|hello	
						

