doctype
html
	head
		title #{title}
	body
		header
			-if(typeof(firstname)!=='undefined')
				h1 Welcome to #{title} #{firstname}
				button#btnSearch(type='button',onClick="window.location.href='/search'") Search
				br
				p
				button#btnSearch(type='button',onClick="window.location.href='/userProfile'") View Profile
			-else
				h1 Welcome to #{title}
				button#btnLogin(type='button',onClick="window.location.href='/login'") login
				br
				p
				button#btnRegister(type='button',onClick="window.location.href='/register'") Register
				br
				p
				button#btnSearch(type='button',onClick="window.location.href='/search'") Search
			-if(isAdmin)
				p
				button#btnAdmin(type='button',onClick="window.location.href='/admin'")	Admin Panel
			


