doctype
html
	title #{title}

body
	header
		h1 Login
			form(method='post',action='/loginForm')
				input(type='text',placeholder='email',name='email')
				input(type='password',placeholder='password',name='password')
				input(type='submit',name='submit',value='submit')
		block cnotent
			|not a memeber?
			|sign up here:
			button(type='button',onClick='window.location.href="/register"') Sign Up!			