doctype
html

	header
		h1 Search by artist, venues, or dates
		p
		| Search for:   
		select
			option(value='artists') artists
			option(value='events') events
		p
		|   Filter by:   
		form(method='post',action = '/searchForm')
			input(type='text', placeholder='artist', name = 'artist')
			input(type='text', placeholder='venue', name='venue')
			input(type='text', placeholder='date', name='date', id='date')
			input(type='submit', name='submit', value='submit')


		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
		script(type='text/javascript').
			$(document).ready(
				function initDate() {
					console.log('here');
					$('#date').datepicker({dateFormat: 'yy-mm-dd'});
				}
			);
