doctype
html
    header
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js')
        script.
            var hashPassword = function() {
                $('#pw').val( CryptoJS.MD5($('#pw').val()) );
            }
        h1 enter details below
            form(method='post',action = '/registrationForm')
                input(type='text',placeholder='first name',name = 'firstname')
                input(type='text',placeholder='last name',name='lastname')
                input(type='text',placeholder='email address',name='email')
                input(type='password',placeholder='password',name='password',id='pw')
                input(type='submit',name='submit',value='Sign Up!', onclick='hashPassword()')
