doctype
html
	header
		link(rel='stylesheet' href='//cdn.datatables.net/1.10.3/css/jquery.dataTables.css')

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

		script(src='//cdn.datatables.net/1.10.3/js/jquery.dataTables.js')		
				
	body
		- if (res.length > 0)
			-console.log("gets passssseeeeeeeeeeeeeddddddddddddddd")
			h1 #{username} here are your tickets:
			table.obj(id="table_id")
				thead
					tr
						th Event:
						th Venue:
						th Date:
				tbody
					for item in res
						tr
							for value in item
								td= value
			script
				$('#table_id').DataTable();
		- else
			p 
			|You havn't bought any tickets!
			br
			|Buy some  
			button#btnSearch(type='button',onClick="window.location.href='/search'") here
		button#btnlogout(type='button',onClick="window.location.href='/logout'") logout


