doctype
html
	header
		link(rel='stylesheet' href='//cdn.datatables.net/1.10.3/css/jquery.dataTables.css')

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

		script(src='//cdn.datatables.net/1.10.3/js/jquery.dataTables.js')		
		
		h1 #{username} here are your tickets:
		
	body
		h2 Search results
		- if (res.length > 0)
			table.obj(id="table_id")
				thead
					tr
						th name
						th venue
						th date
				tbody
					for item in res
						tr
							for value in item
								td= value
			script
				$('#table_id').DataTable();
		- else
			p No results found					
